<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  <connectionStrings>
    <add name="dbconnection" connectionString="Data Source= DESKTOP-M2RNCB7\SQLEXPRESS; Integrated Security=true;Initial Catalog= Infosys; uid=Sa; Password=Sa@12345; "
      providerName="System.Data.SqlClient" />
    <add name="InfosysConnectionString" connectionString="Data Source=DESKTOP-M2RNCB7\SQLEXPRESS;Initial Catalog=Infosys;User ID=Sa;Password=Sa@12345"
      providerName="System.Data.SqlClient" />
    <add name="InfosysConnectionString2" connectionString="Data Source=DESKTOP-M2RNCB7\SQLEXPRESS;Initial Catalog=Infosys;Integrated Security=True;User ID=Sa;Password=Sa@12345"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>
